#sidebar {
    mind-width: 200px;
    max-width: 200px;
    height: 100vh;
    background-color: #232831;
    color: white;
    font-size: .9em;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar-header {
    overflow: hidden;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 0 .5em 0 .5em;
}

#sidebar .main-logo {
    width: 20%;
    height: 20%;
    float: left;
    margin-right: .4em;
}

#sidebar .logo-text {
    padding-top: .2em;
    font-size: 1.6em;
    font-weight: bold;
}

.clients {
    padding: 1.5em .5em 0 .8em;
}

.active-account {
    background-color: #3D4657;
    height: 2.8em;
    line-height: 2.8em;
    overflow: hidden;
    padding: 0 .8em 0 .8em;
}

.account-name {
    font-size: 1.15em;
    overflow: hidden;
}

.account-pic {
    padding-top: .7em;
    float: left;
    margin-right: .3em;
}

.clients-label {
    color: #72A0EA;
    font-size: .78em;
    margin-bottom: .1em;
}

.client-list {
    padding: 0;
    list-style: none;
}

.client-icon {
    margin-right: .4em;
}

.client {
    color: #9B9B9B;
    margin: .5em 0;
}